body {
    font-family: Arial;
}

.box {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border: 6px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item {
    width: 45%;
    background: white;
    border: 3px solid black;
    padding: 15px;
}

select {
    float: right;
}
