 table {
            border-collapse: collapse;
            width: 600px;
            text-align: center;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
        }
        caption {
            font-weight: bold;
            margin-bottom: 10px;
        }